@model GiftSystem.ViewModels.AdminViewModel

<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">Credits</th>
        <th scope="col">Sender</th>
        <th scope="col">Receiver</th>
        <th scope="col">Message</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transfer in Model.Transfers)
    {
        <tr>
        <th scope="row">@transfer.Credits</th>
        <td>@transfer.Sender.PhoneNumber</td>
        <td>@transfer.Receiver.PhoneNumber</td>
        <td>@transfer.Message</td>
    </tr>
    }
    </tbody>
</table>

<hr>

@foreach (var user in Model.Users)
{
    <p>User: @user.Email, Credits: @user.Credits</p>
}